*{
    margin: 0;
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif; */
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
.navbar-container {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: black;
    padding: 0 50px;
    color: blue;
}
.logo-container {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
    font-size: 70px;
    left: 0;
}
.menu-container {
flex: 6;
}
.navbar-menu {
    display: flex;
    list-style: none;
}
.navbar-menu-list { /* this css givs space in between the menu list horizontally */
    margin-right: 30px;
}
.navbar-menu-list.active {
    font-weight: bold;
    color: white;
}
.profile-container {
    flex: 2;
    display: flex;
    align-items: center; /* this css givs makes properties align together on a straight line*/
    justify-content: flex-end;
}
.profile-image {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text-container {
    margin: 0 20px;
    font-size: 22px;
}
.toggle {
    width: 65px;
    height: 40px;
    background-color: white;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* place-items: center; */
    position: relative;
}
.toggle-icon{
    color: pink;
    margin-top: 2px;
    font-size: 30px;
}
.toggle-ball { 
    width: 31px;
    height: 31px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0s ease all;
}
.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.sidebar-icon {
    color: blue;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 10px;
}
.content {
    height: calc(100% - 50px);
    background: #151515;
    color: white;
}
.content-container {
    width: 100%;
    margin-top: 50px;
    /* margin-left: 50px; */
    /* background: #151515; */
}
.featured-movies {
    margin-left: 50px;
    height:50vh ;
}
.rows {
    font-size: xx-large;
    color: white;
    font-weight: bold;
}
.featured-title {
    padding:0 200px;
    color: white;
}
.featured-desc {
    padding: 0 200px;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.featured-button {
    color: red;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;
}
.movie-list-container {
    margin-left: 55px;
    padding-top: 0.4em;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-lists {
    display: flex;
    padding-top: 2em;
    position: relative;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.movie-lists-items {
    position: relative;
}
.movie-lists-items:hover .movie-image {
    transform: scale(1.2);
    margin: 0 3opx;
    opacity: 0.5;
}
.movie-image{
    transition: all 1s ease-in-out;
    padding-top: 0em;
    border-radius: 20px;
    margin-left: 50px;
    font-size: large;
    color: white;
    font-weight: bold;
    object-fit: cover;
}
.movie-title-span {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.movie-desc {
    margin-left: 70px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    /* position: absolute; */
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.movie-button {
    opacity: 0;
    font-size: x-large;
    font-weight: bold;
    color: red;
    transition: all 1s ease-in-out;
}
.movie-lists-items:hover .movie-title-span,
.movie-lists-items:hover .movie-button,
.movie-lists-items:hover .movie-desc{
    opacity: 1;
    cursor: pointer;
}
.arrow {
    font-size: 120px;
    position: absolute;
    top:50px;
    right: 0;
    cursor: pointer;
    opacity: 0.3;
}
.content.active {
    background-color: #fff;
}
.movie-list-release.active{
    color: black;
}
.movie-desc.active, .movie-title-span.active{
    color: black;
}
.navbar-container.active, .sidebar.active, .sidebar-icon.active {
    background-color: #fff;
    color: black;
}
.toggle.active {
    background-color: black;
}
.arrow.active {
    color: black;
}
.toggle-ball.active {
    background-color: white;
    transform: translateX(-30px);
}
@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}